@typeparam Titem
<h3>ListadoGenerico</h3>

@if (Listado == null)
{

    @if (Cargando == null)
    {
        <div>Cargando...</div>
    }
    else
    {
        @Cargando
    }

}

else if (Listado.Count == 0)
{
    @if (NoHayRegistros == null)
    {
        <div>No hay registros para mostrar..</div>
    }
    else
    {
        @NoHayRegistros
    }
}

else
{
    foreach(var elemento in Listado)
    {
        @HayRegistros(elemento)
    }
}

@code {
    [Parameter]
    public RenderFragment Cargando { get; set; }
    [Parameter]
    public RenderFragment NoHayRegistros { get; set; }
    [Parameter]
    public List<Titem> Listado { get; set; }
    [Parameter]
    public RenderFragment<Titem> HayRegistros { get; set; }
}
