@page "/counter"
@inject ServicioSingleton singleton
@inject ServicioTransient transient
<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Current count: @singleton.valor</p>
<p>Current count: @transient.valor</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        singleton.valor = currentCount;
        transient.valor = currentCount;
    }
}
